<div id="products" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-title">{{playlist.playlist_name}}</h1>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
            <div class="row">



                <div class="col-md-2 col-sm-3">
                    <div class="item-small">
                        <h3>Now Playing...</h3>
                        <img ng-src="{{playlist.tracks[currentlyPlayingTrack].track_image}}" alt="{{playlist.tracks[currentlyPlayingTrack].track_name}} by {{playlist.tracks[currentlyPlayingTrack].track_artist_name}}">
                        <h5>Track : <strong>{{playlist.tracks[currentlyPlayingTrack].track_name}}</strong></h5>
                        <h5>Artist : <strong>{{playlist.tracks[currentlyPlayingTrack].track_artist_name}}</strong></h5>
                        <h5>Released : <strong>{{playlist.tracks[currentlyPlayingTrack].track_release_date | date:'dd/MM/yyyy'}}</strong></h5>
                         <audio controls
                                id="currentTrack">
                         <source></source>
                         <p>Your browser does not support native audio, but you can <a ng-href='https://mp3l.jamendo.com/?trackid={{playlist.tracks[currentlyPlayingTrack].track_id}}&format=mp31&from=app-90be5fa3'>download this MP3</a> to listen on your device.</p>
                         </audio>

                    </div> <!-- /.item-small -->
                </div>

                <div class="col-md-8 col-sm-6">

                <table id="playlistTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Track</th>
                            <th>Artist</th>
                            <th>Duration</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "track in playlist.tracks"> <!-- {{playlist.tracks[currentlyPlayingTrack].track_name}}-->
                            <td data-th="Image"><img ng-src="{{track.track_image}}" width="100px" height="100px" ></td>
                            <td data-th="Track">{{ track.track_name }}</td>
                            <td data-th="Artist">{{ track.track_artist_name }}</td>
                            <td data-th="Duration">{{track.track_duration | secondsToDateTime | date:'mm:ss'}}</td>
                            <td data-th="Controls"><a
                                id="playButton_{{track.id}}"
                                class="play_track"
                                ng-class="{pause_track: $index == selected}"
                                ng-click='controlTrack(playlist.tracks[$index].track_id, $index); '>&nbsp;</a></td>
                        </tr>
                    </tbody>
                </table>

                    <a ng-click="editPlaylist()"  class="action-button shadow animate green">Edit</a>


                </div>
                <!-- playlist details -->
                <div class="col-md-2">
                    <div class="item-small">
                        <h3>Playlist Details</h3>
                        <img ng-src="/images/genre_images/{{playlist.playlist_genre}}.jpg" alt="Genre Image">
                        <h4>{{title}}</h4>
                        <h5>Curator : <br /><strong>{{playlist.playlist_curator_name}}</strong></h5>
                        <h5>Created : <strong>{{playlist.playlist_create_date | date:'dd/MM/yyyy'}}</strong></h5>
                        <h4>Share this Playlist:</h4>
                        <h5><a href=""  class="fb" >&nbsp;
                            </a>
                            <a href="" class="tw" socialshare
                                socialshare-provider="twitter"
                                socialshare-text="Check out {{title}} created by {{playlistCurator}} "
                                socialshare-hashtags="{{playlist.playlist_genre}}, Music"
                                socialshare-url="{{currentPathToShare}}">&nbsp;
                            </a>

                        </h5>
                    </div> <!-- /.item-small -->
                </div>

            </div> <!-- /.row -->
            <!-- edit this playlist -->

            <!-- edit this playlist -->
        </div> <!-- /.container -->
    </div> <!-- /#products -->
